body {
    /* background-color: #28282B; */
    /* background-color: rgb(238, 235, 235); */
    background-color: #1a1a2e;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.head, .body, #view, .comments, .display_results, #clear_btn, .search_bar, .nav_bar {
    display: none;
}

.head img#head_bg {
    margin-top: 2rem;
    max-width: 700px;
    max-height: 700px;
    width: 100%;
    height: 90%;

    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 2px black;
}

.head h1#head_title{
    color: white;
    text-align: center;
    font-size: 5rem;
}

.head h1#desc, .head h1#comments_btn{
    background-color: rgb(207, 202, 202);
    color: white;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#cmnts_link {
    color: white;
    border-radius: 5px;
    font-size: 3rem;

    box-shadow: 0px 0px 0px none;
    border: solid;
    border-width: 2px;
    border-color:#bcbedc;

    transition: 0.5s;
}

#cmnts_link:hover{
    background-color:#bcbedc;
}

#view{
    display: none;
    z-index: 0;
    position: relative;
    height: max-content;
    margin: -8px;
}

#view #layer {
    background-color: black;
    opacity: 0.5;
    height: 110%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#view div {
    position: absolute;
}

#view #content {
    position: relative;
    margin-top: -43px;
}

#view #view_title{
    font-size: 4rem;
    color: white;
    margin-left: 2%;

    z-index: 1;
    text-shadow: 0px 5px 18px black;
}

#view #view_genres{
    margin-left: 2%;
    text-shadow: 0px 5px 18px black;
}

#view #view_note{
    color: rgb(243, 226, 226);
    font-size: 1.5rem;
    border-radius: 10px;
    margin-left: 2%;
    text-shadow: 0px 5px 18px black;
    font-weight: bolder;
}

#view #view_rating{
    color: white;
    margin-left: 2%;
    font-size: 1.5rem;
    font-family: 'open sans',arial,sans-serif;
    text-shadow: 0px 5px 18px black;
}

#view #view_review{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: white;
    text-shadow: 0px 5px 18px black;
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;

    z-index: 1;
    font-weight: bold;
}

#view #view_img{
    max-height: 50%;
    max-width: 40%;

    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 5px 18px black;
}

#view #back:hover{
    background-color: darkcyan;
}

#view #back{
    font-size: 3.5rem;
    background-color: #18181a3b; /* Green */
    border: none;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.body .anime_list{
    background-color: #16213e;
    color: #e94560;
    font-size: 2.5rem;
    /* margin-left: 0%; */
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;
    /* display: block; */
}

/* .body .anime_list .card:hover:before{
    background-color:#afb2dd;
    color: rgb(209, 208, 208);
    background-position: 100% 50%;
} */


.body .anime_list .card{
    margin-top: 10%;
    height: 20%;
    width: 90%;
    /* min-height: 500px; */
    /* min-width: 250px; */
    /* display: inline-block; */
    border-radius: 10px;
    margin: 10px;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;

    display: block;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
}

/* .body .anime_list .card:before {
    content: "";
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    border-radius: 0px 5px 5px 0px; /* top left | top right | bot right | bot left 
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 71%, rgba(0,0,0,0) 100%);
    background-size: 200% 200%;
    transition: background-position 0.5s linear;
} */

.body .anime_list .card .card_img{
    width: 20%;
    height: 100%;
    border-radius: 0px 5px 5px 0px ;
    float: left;
    z-index: 4;
    position: relative;
    margin-left: 7%;
}

.body .anime_list .card .card_title{
    font-size: 2rem;
    color: #e94560;
    z-index: 99;

    position: absolute;
    left: 0;
    top: -7%;
}

.body .anime_list .card .card_ratings{
    font-size: 0rem;
    text-align: center;
    font-family: 'open sans',arial,sans-serif;
    color: #bcbedc;
    z-index: 4;
    background-color: #2b2d42;
    height: 100%;
    position: absolute;
    width: 7%;
    top: 0px;
    bottom: auto;
    border-radius: 5px 0 0 5px;
}

.body .anime_list .card .card_desc {
    color: white;
    z-index: 4;
    position: absolute;
    bottom: 0px;
    font-size: 1rem;
    left: 28%;
    width: 72%;
    text-shadow: 0px 0px 2px black;
}

#card_rating_bigger{
    font-size: 4.1rem;
    font-weight: bold;
    color: #bcbedc;
}

#star{
    max-height: 40%;
    max-width: 40%;
}

#genre{
    text-shadow: 0px 5px 18px black;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.315);
}

#genre:hover{
    color: wheat;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

#bold {
    color: wheat;
}

.emoji {
    max-height: 3rem;
    max-width: 3rem;
}

.link {
    color: wheat;
    font-size: 2rem;
    text-decoration: none;
    font-style: italic;
}

.attachment {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
}

.attachment_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments {
    left: 0px;
    background-color: #23272a;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    margin-top: 20px;

    box-shadow: 5px 0px 18px black;
}

.comments h1 {
    text-align: center;
    position: relative;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #141618;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7289da;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8da5fc;
}

noscript img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 25%;
    max-height: 25%;
}

noscript h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

noscript a {
    text-align: center;
    font-size: 2rem;
    color: wheat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.search input::placeholder ,
.search input:-ms-input-placeholder ,
.search input::-ms-input-placeholder {
    color: white;
}

.search input#search_input{
    border: none;
    background-color: #0f3460;
    width: 80%;
    height: 3rem;
    border-radius: 5px;
    outline: none;
    font-size: 2rem;
    caret-color: #7289da;
    margin-left: 4%;
    flex: 1;
    color: #e94560;

    font-weight: bolder;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-transform: capitalize;
}

.search input#submit{
    background-color: rgb(209, 208, 208);
    border: solid;
    border-width: 2px;
    border-color:#7289da;
    border-radius: 5px;
    color: white;
    transition: background-color 1.5s;
    margin-right: 5%;
    margin-left: 5px;
}

.search input#submit:hover{
    background-color:#7289da;
    color: white;
}

.search_btns {
    /* display: inline; */
    font-size: 2rem;
    /* width: 10rem; */
    /* transition: 1s; */
}

.search {
    margin-top: 5rem;
    display: flex;
}

#no_searches {
    color: white;
    text-align: center;
    font-size: 2rem;
}

#clear_btn {
    background-color: rgb(209, 208, 208);
    border: solid;
    border-width: 2px;
    border-color:#7289da;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 4%;
}

.search_res_label {
    color: white;
    font-size: 2rem;
}

#search_name {
    color: #e94560;
}

/* .body .anime_list{
    background-color: #18181a;
    color: white;
    font-size: 2.5rem;
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;
    display: block;
} */

.display_results .card:hover{
    background-color:rgba(124, 119, 119, 0.65);
}

.display_results .card{
    transition: 0.5s;
    height: 50%;
    width: 15%;
    min-height: 500px;
    min-width: 250px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    background-color: #18181a;
}

.display_results .card .card_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.display_results .card .card_title{
    font-size: 2rem;
    text-align: center;
    color: white;
}

.display_results .card .card_ratings{
    font-size: 1rem;
    text-align: center;
    font-family: 'open sans',arial,sans-serif;
    color: white;
}

/* #search_inputautocomplete-list {
    margin-top: 10%;
    position: relative;
    display: block;
} */

.autocomplete-items {
    z-index: 99;
    width: 50%;
    position: absolute;
    top: 8rem;
    flex: 1;
    margin-left: 4%;
    overflow: auto;
    max-height: 40%;
    background-color: black;
}

.autocomplete-items div {
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;

    background-color:rgb(190, 189, 189);
    border: solid;
    border-width: 2px;
    border-color:#7289da;
    color: white;
    border-radius: 5px;
    margin-top: 6px;
    transition: 0.2s;
}

.autocomplete-active {
    background-color: #b6b9ec !important;
    color: #ffffff;
}

#view #nsfw_layer {
    position: absolute;
    background-color: black;
    opacity: 0.99;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
}

#view #nsfw_layer img {
    max-width: 80%;
    max-height: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    border-radius: 5px;
}

#view #nsfw_layer h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-right: 20%;
    margin-left: 20%;
}

#view #nsfw_layer button {
    margin-right: auto;
    margin-left: auto;
    display: block;

    border-radius: 5px;
    margin-top: 10px;
    color: white;

    transition: 0.5s;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border: #95acff;
    border-width: 2px;
}

#proceed {
    background-color: black;
}

#go_back {
    background-color: rgb(241, 63, 63);
}

#proceed:hover {
    background-color: #95acff;
}

#go_back:hover {
    background-color: rgb(247, 41, 41);
}

.nav_bar {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    background-color: #2b2d42;

    box-shadow: 0px -5px 18px black;
}

.nav_bar a {
    background-color: none;
    border: none;

    display: inline;
    font-size: 2rem;
    color: #bcbedc;
    float: right;
    margin: 10px;

    text-decoration: none;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

    transition: 0.5s;
    font-weight: 600;
    text-transform: capitalize;
}

.nav_bar a:hover{
    color: wheat;
}

.nav_bar a#current{
    color: wheat;
}

/* @media only screen and (max-width: 1200px){
    .body .anime_list .card{
        background: linear-gradient(106deg, rgba(43,45,66,1) 0%, rgba(43,45,66,1) 24%, rgba(110,115,163,1) 100%);
    }
} */

@media only screen and (max-width: 1184px) and (min-width: 800px){
    .body .anime_list .card .card_img{
        margin-left: 9%;
        /* height: 30%; */
        /* width: 25%; */
    }
    
    .body .anime_list .card .card_ratings{
        width: 9%;
    }

    #card_rating_bigger{
        font-size: 3rem;
    }

    .body .anime_list .card .card_title{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 1300px) and (min-width: 1184px){
    .body .anime_list .card .card_img{
        margin-left: 7%;
        height: 30%;
        width: 25%;
    }
    
    .body .anime_list .card .card_ratings{
        width: 7%;
    }

    #card_rating_bigger{
        font-size: 4rem;
    }

    .body .anime_list .card{
        height: 20%;
        width: 100%;
    }

    .body .anime_list .card .card_title{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1640px) and (min-width: 1300px){
    .body .anime_list .card .card_img{
        margin-left: 10%;
    }
    
    .body .anime_list .card .card_ratings{
        width: 10%;
    }

    .body .anime_list .card{
        height: 20%;
        width: 100%;
    }
}

@media only screen and (max-width: 525px) {
    .display_results .card {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 800px) and (min-width: 525px) {
    .display_results {
        display: flex;
    }

    .display_results .card {
        flex: 1;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 800px) {

    #star {
        max-width: 10%;
        max-height: 10%;
    }

    .body .anime_list .card .card_img{
        width: 80%;
        height: 60%;
        border-radius: 5px 5px 5px 5px ;
        z-index: 4;
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none;
    }
    
    .body .anime_list .card .card_title{
        font-size: 2rem;
        color: rgb(216, 213, 213);
        z-index: 4;
        float: none;
        text-align: center;
    }

    .body .anime_list .card .card_ratings{
        font-size: 1rem;
        text-align: center;
        font-family: 'open sans',arial,sans-serif;
        /* color: #bcbedc; */
        color: black;
        display: block;
        z-index: 4;
        background-color: transparent;
        height: auto;
        position: relative;
        width: auto;
        top: 0;
        bottom: 0;
        border-radius: 0;
        float: none;
    }


    .body .anime_list{
        margin-left: 5%;
        margin-right: 5%;
        display: block;
    }

    .body .anime_list .card {
        display: block;
    }

    /* .body .anime_list .card:hover:before{
        background-position: 0;
    }
    
    .body .anime_list .card:before {
        display: none;
    } */

    h1#iden{
        text-align: center;
    }

    .body .anime_list .card{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    noscript img {
        max-width: 40%;
        max-height: 40%;
    }

    noscript h1 {
        font-size: 1.6rem;
    }

    noscript a {
        font-size: 1.6rem;
    }

    #view #view_img{
        max-height: 80%;
        max-width: 70%;
    }

    #view #view_review{
        font-size: 1.5rem;
    }
}