body {
    background-color: #28282B;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.head img#head_bg {
    margin-top: 10%;
    max-width: 700px;
    max-height: 700px;
    width: 70%;
    height: 70%;

    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head h1#head_title{
    color: white;
    text-align: center;
    font-size: 5rem;
}

.head h1#desc, .head h1#note{
    background-color: #18181a;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#view{
    display: none;
    z-index: 0;
    position: relative;
    height: max-content;
    margin: -8px;
}

/* #view #layer {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
} */

#view div {
    position: absolute;
    overflow: auto;
}

#view #content {
    position: relative;
    margin-top: -43px;
    overflow: hidden;
}

#view #view_name{
    font-size: 4rem;
    color: white;
    margin-left: 2%;

    z-index: 1;
}

#view #view_age{
    margin-left: 2%;
    color: white;
    font-size: 3rem;
}

#view #view_birthday{
    margin-left: 2%;
    color: white;
    font-size: 3rem;
}

#view #view_animes{
    margin-left: 2%;
    color: white;
    font-size: 3rem;
}

#birthday, #age{
    color: wheat;
}

#anime_name{
    color: wheat;
    cursor: pointer;
}

#view #view_rating{
    color: white;
    margin-left: 2%;
    font-size: 1.5rem;
    font-family: 'open sans',arial,sans-serif;
}

#view #view_img{
    max-height: 30%;
    max-width: 20%;
    margin-left: 1%;

    z-index: 0;
    float: left;
    border-radius: 5px;
}

#view #back:hover{
    background-color: darkcyan;
}

#view #back{
    font-size: 3.5rem;
    background-color: #18181a3b; /* Green */
    border: none;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.body {
    background-color: #18181a;
    color: white;
    font-size: 2.5rem;
    margin-left: 0%;
    border-radius: 5px;
}

.body  .card{
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%),url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-position: right;

    width: 90%;
    height: 80%;
    border-radius: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    transition: background 0.5s linear;
}

.body .card:hover {
    background:linear-gradient(90deg, rgba(0,0,0,0.17690826330532217) 0%, rgba(0,212,255,0) 100%),url("./images/bg.jpg");
    background-position: right;
}

.body  .card .card_img{
    max-width: 80%;
    max-height: 95%;
    border-radius: 5px;
    /* bottom: 9px; */
    /* left: -10px; */
    /* top: -10px; */
    transition: 0.5s;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.body  .card .card_name{
    margin-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2.5rem;
    text-shadow: 0px 0px 18px black;
    opacity: 1;
}


#card_rating_bigger{
    font-size: 5rem;
    font-weight: bold;
}

#genre{
    text-shadow: 0px 5px 18px black;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

#bold {
    color: wheat;
}

.emoji {
    max-height: 3rem;
    max-width: 3rem;
}

.link {
    color: wheat;
    font-size: 2rem;
    text-decoration: none;
    font-style: italic;
}

.attachment {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
}

.attachment_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments {
    left: 0px;
    background-color: #23272a;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    margin-top: 20px;

    box-shadow: 5px 0px 18px black;
}

.comments h1 {
    text-align: center;
    position: relative;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #141618;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7289da;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8da5fc;
}

noscript img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 25%;
    max-height: 25%;
}

noscript h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

noscript a {
    text-align: center;
    font-size: 2rem;
    color: wheat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.nav_bar {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    background-color: black;

    box-shadow: 0px -5px 18px black;
}

.nav_bar a {
    background-color: black;
    border: #95acff;
    border-width: 2px;

    display: inline;
    font-size: 2rem;
    color: white;
    float: right;
    margin: 10px;

    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    transition: 0.5s;
}

.nav_bar a:hover{
    color: wheat;
}

.nav_bar a#current{
    color: wheat;
}

@media only screen and (max-width: 800px) {
    .body {
        margin-left: 5%;
        margin-right: 5%;
    }

    h1#iden{
        text-align: center;
    }

    #view div {
        position: absolute;
        overflow: inherit;
    }

    #view #content {
        position: relative;
        margin-top: -43px;
        overflow: inherit;
        text-align: center;
    }

    #view #view_img{
        float: none;
        max-height: 70%;
        max-width: 100%;
        margin-left: 1%;

        z-index: 0;
        margin-right: auto;
        margin-left: auto;
        display: block;
        border-radius: 5px;
    }

    #view #view_name{
        margin-left: 0%;
        text-align: center;
    }

    noscript img {
        max-width: 40%;
        max-height: 40%;
    }

    noscript h1 {
        font-size: 1.6rem;
    }

    noscript a {
        font-size: 1.6rem;
    }

    .head img#head_bg {
        margin-top: 20%;
    }

    .body .card:hover{
        background-color:rgba(124, 119, 119, 0.65);
    }

    .body  .card{
        background: none;
        width: 90%;
        background-repeat: no-repeat;
        background-position: right;
        height: 80%;
        border-radius: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: 0.5s;
    }
    
    .body  .card .card_img{
        max-width: 80%;
        max-height: 95%;
        border-radius: 5px;
        transition: 0.5s;
        opacity: 1;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .body  .card .card_name{
        text-align: center;
        font-size: 2.5rem;
        text-shadow: 0px 0px 18px black;
        opacity: 1;
    }
}

@media only screen and (max-width: 1030px) and (min-width: 801px) {
    .body  .card{
        background: none;
        width: 90%;
        background-repeat: no-repeat;
        background-position: right;
        height: 80%;
        border-radius: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        transition: 0.5s;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    
    .body  .card .card_name{
        align-self: center;
        font-size: 2.5rem;
        margin: auto;
    }
}