body {
    background-color: #28282B;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.head img#head_bg {
    max-width: 700px;
    max-height: 700px;
    width: 70%;
    height: 70%;

    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head h1#head_title{
    color: white;
    text-align: center;
    font-size: 5rem;
}

.head h1#desc, .head h1#note{
    background-color: #18181a;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

#view{
    display: none;
    z-index: 0;
    position: relative;
    height: max-content;
    margin: -8px;
}

/* #view #layer {
    background-color: black;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
} */

#view div {
    position: absolute;
    overflow: auto;
}

#view #content {
    position: relative;
    margin-top: -43px;
    overflow: hidden;
}

#view #view_name{
    font-size: 4rem;
    color: white;
    margin-left: 2%;

    z-index: 1;
}

#view #view_age{
    margin-left: 2%;
    color: white;
    font-size: 3rem;
}

#view #view_birthday{
    margin-left: 2%;
    color: white;
    font-size: 3rem;
}

#view #view_animes{
    margin-left: 2%;
    color: white;
    font-size: 3rem;
}

#birthday, #age{
    color: wheat;
}

#anime_name{
    color: wheat;
    cursor: pointer;
}

#view #view_rating{
    color: white;
    margin-left: 2%;
    font-size: 1.5rem;
    font-family: 'open sans',arial,sans-serif;
}

#view #view_img{
    max-height: 30%;
    max-width: 20%;
    margin-left: 1%;

    z-index: 0;
    float: left;
    border-radius: 5px;
}

#view #back:hover{
    background-color: darkcyan;
}

#view #back{
    font-size: 3.5rem;
    background-color: #18181a3b; /* Green */
    border: none;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.body .waifu_list{
    background-color: #18181a;
    color: white;
    font-size: 2.5rem;
    margin-left: 0%;
    border-radius: 5px;
}

.body .waifu_list .card:hover{
    background-color:rgba(124, 119, 119, 0.65);
}

.body .waifu_list .card{
    height: 50%;
    width: 15%;
    min-height: 500px;
    min-width: 250px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
}

.body .waifu_list .card .card_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.body .waifu_list .card .card_name{
    font-size: 2rem;
    text-align: center;
}

.body .waifu_list .card .card_nsfw{
    font-size: 1rem;
    text-align: center;
    font-family: 'open sans',arial,sans-serif;
}

#card_rating_bigger{
    font-size: 5rem;
    font-weight: bold;
}

#genre{
    text-shadow: 0px 5px 18px black;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

#bold {
    color: wheat;
}

.emoji {
    max-height: 3rem;
    max-width: 3rem;
}

.link {
    color: wheat;
    font-size: 2rem;
    text-decoration: none;
    font-style: italic;
}

.attachment {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 50%;
    border-radius: 5px;
}

.attachment_ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments {
    left: 0px;
    background-color: #23272a;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    margin-top: 20px;

    box-shadow: 5px 0px 18px black;
}

.comments h1 {
    text-align: center;
    position: relative;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #141618;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7289da;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8da5fc;
}

@media only screen and (max-width: 800px) {
    .body .waifu_list{
        margin-left: 5%;
        margin-right: 5%;
    }

    h1#iden{
        text-align: center;
    }

    .body .waifu_list .card{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #view div {
        position: absolute;
        overflow: inherit;
    }

    #view #content {
        position: relative;
        margin-top: -43px;
        overflow: inherit;
        text-align: center;
    }

    #view #view_img{
        float: none;
        max-height: 70%;
        max-width: 100%;
        margin-left: 1%;

        z-index: 0;
        margin-right: auto;
        margin-left: auto;
        display: block;
        border-radius: 5px;
    }

    #view #view_name{
        margin-left: 0%;
        text-align: center;
    }
}